@media (max-width: 767px) {
  #header {
    .header-top {
      padding-bottom: 0.2em;
    }
    .header {
      padding: 1rem 1.5rem;
      .header-nav {
        display: block;
        margin: 0 auto 1rem;
        .navbar-header {
          margin: 1rem 0;
          .button-impact {
            border-color: #000000;
            margin: 0 auto 1rem;
            span {
              background-color: #ffac55;
            }
            &:hover {
              background-color: #ffeb00;
            }
          }
        }
        #navbar {
          .nav-impact {
            position: absolute;
            width: 100%;
            right: 0;
            z-index: 1001;
            background-color: #ffffff;
            border: 1px solid #000000;
            margin: 0;
            display: flex;
            flex-direction: column;
            li {
              a {
                padding: 0.5em 0;
                border: none;
              }
              .dropdown-impact {
                .dropdown-menu-impuct {
                  &:after {
                    top: 2rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}