/* line 1, ../sass/header.sass */
.logon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 17px;
}
/* line 5, ../sass/header.sass */
.logon div {
  background-color: #fff;
  border: none;
  border-radius: 0 0 20px 20px;
  font: 400 11px "Arial", regular;
  width: 158px;
  padding: 7px 21px;
  text-align: center;
}

/* line 14, ../sass/header.sass */
.registration {
  border-right: 1px solid #959595;
  color: #747474;
  padding-right: 10px;
}

/* line 18, ../sass/header.sass */
.login {
  color: #02a4fa;
  margin-left: 10px;
}

/* line 22, ../sass/header.sass */
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
/* line 26, ../sass/header.sass */
.logo h1 {
  width: 271px;
}
/* line 28, ../sass/header.sass */
.logo h1 a {
  display: flex;
  align-items: center;
  font: 500 21px "AFKlampenborg", Medium;
  color: #939598;
}
/* line 33, ../sass/header.sass */
.logo h1 a span {
  margin-left: -5px;
}
/* line 35, ../sass/header.sass */
.logo p {
  color: #646464;
  font: 400 15px "Helios", Regular;
  align-items: center;
  padding: 21px 29px 0 0;
}
