@charset "UTF-8";
/* line 1, ../sass/header.sass */
.logon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 17px;
}
/* line 5, ../sass/header.sass */
.logon div {
  background-color: #fff;
  border: none;
  border-radius: 0 0 20px 20px;
  font: 400 11px "Arial", regular;
  width: 158px;
  padding: 7px 21px;
  text-align: center;
}

/* line 14, ../sass/header.sass */
.registration {
  border-right: 1px solid #959595;
  color: #747474;
  padding-right: 10px;
}

/* line 18, ../sass/header.sass */
.login {
  color: #02a4fa;
  margin-left: 10px;
}

/* line 21, ../sass/header.sass */
.entry {
  width: 426px;
  position: fixed;
  z-index: 99999;
  top: 22px;
  right: 0;
  background-color: #fff;
  border-radius: 20px;
  display: none;
  pointer-events: none;
}
/* line 31, ../sass/header.sass */
.entry:target {
  display: block;
  pointer-events: auto;
}
/* line 34, ../sass/header.sass */
.entry p {
  display: flex;
  justify-content: flex-end;
  margin: 0 22px 13px 0;
}
/* line 38, ../sass/header.sass */
.entry p a {
  font: 400 11px "Arial", regular;
  color: #606060;
  width: 105px;
  margin-right: 0;
}
/* line 43, ../sass/header.sass */
.entry div {
  display: flex;
  justify-content: space-between;
}
/* line 46, ../sass/header.sass */
.entry div input {
  margin: 0 0 23px 23px;
  width: 153px;
  padding: 12px;
  color: #6badd4;
  font: 400 18px "Arial", regular;
  background-color: #d5f1fa;
  border-radius: 10px;
  border: none;
}
/* line 55, ../sass/header.sass */
.entry div button {
  background-color: #00a8ff;
  padding: 16px 27px;
  border-radius: 10px;
  border: none;
  margin: 0 23px 23px 10px;
}

/* line 61, ../sass/header.sass */
.register {
  width: 426px;
  position: fixed;
  z-index: 99999;
  top: 22px;
  right: 0;
  background-color: #fff;
  border-radius: 20px;
  display: none;
  pointer-events: none;
  padding: 24px;
}
/* line 72, ../sass/header.sass */
.register:target {
  display: block;
  pointer-events: auto;
}

/* line 75, ../sass/header.sass */
button {
  background-color: #00a8ff;
  padding: 16px 27px;
  border-radius: 10px;
  border: none;
  margin: 0 23px 23px 10px;
}
/* line 81, ../sass/header.sass */
button:after {
  content: "ï…ˆ";
  font-family: FontAwesome;
}

/* line 84, ../sass/header.sass */
.close {
  float: right;
  margin: 18px 0;
}

/* line 87, ../sass/header.sass */
.info {
  float: left;
  width: 228px;
  margin-right: 10px;
}
/* line 91, ../sass/header.sass */
.info input {
  width: 228px;
  margin-bottom: 6px;
  padding: 7px 12px;
  color: #6badd4;
  font: 400 18px "Arial", regular;
  background-color: #d5f1fa;
  border-radius: 10px;
  border: none;
}

/* line 100, ../sass/header.sass */
::-webkit-input-placeholder {
  color: #72b1d7;
}

/* line 102, ../sass/header.sass */
::-moz-placeholder {
  color: #72b1d7;
}

/* line 104, ../sass/header.sass */
::-ms-input-placeholder {
  color: #72b1d7;
}

/* line 107, ../sass/header.sass */
.foto input {
  background-color: #fff;
  padding: 10px 16px;
  border-radius: 10px;
  border: 2px solid #00a8ff;
  color: #00a8ff;
  font: 400 14px "Arial", regular;
}
/* line 114, ../sass/header.sass */
.foto img {
  margin-bottom: 2px;
}

/* line 116, ../sass/header.sass */
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
/* line 120, ../sass/header.sass */
.logo h1 {
  width: 274px;
}
/* line 122, ../sass/header.sass */
.logo h1 a {
  display: flex;
  align-items: center;
  font: 500 21px "AFKlampenborg", Medium;
  color: #939598;
}
/* line 127, ../sass/header.sass */
.logo h1 a span {
  margin-left: -5px;
}
/* line 129, ../sass/header.sass */
.logo p {
  color: #646464;
  font: 400 15px "Helios", Regular;
  padding: 21px 29px 0 0;
}
