@font-face {
  font-family: AFKlampenborg;
  src: url(../fonts/afklampenborg-medium.ttf);
  src: url(../fonts/afklampenborg-medium.eot);
  src: url(../fonts/afklampenborg-medium.svg);
  src: url(../fonts/afklampenborg-medium.woff);
}
@font-face {
  font-family: Helios;
  src: url(../fonts/Helios.ttf);
  src: url(../fonts/Helios.eot);
  src: url(../fonts/Helios.svg);
  src: url(../fonts/Helios.woff);
}
/* line 14, ../sass/style.sass */
body {
  background: linear-gradient(to bottom, #ced8d9, #fff 40%) no-repeat;
  margin: 0;
}

/* line 17, ../sass/style.sass */
.wrapper {
  width: 776px;
  margin: 0 auto;
}

/* line 1, ../sass/header.sass */
.logon {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 17px;
}
/* line 5, ../sass/header.sass */
.logon div {
  background-color: #fff;
  border: none;
  border-radius: 0 0 20px 20px;
  font: 400 11px "Arial", regular;
  width: 158px;
  padding: 7px 21px;
  text-align: center;
}

/* line 14, ../sass/header.sass */
.registration {
  border-right: 1px solid #959595;
  color: #747474;
  padding-right: 10px;
}

/* line 18, ../sass/header.sass */
.login {
  color: #02a4fa;
  margin-left: 10px;
}

/* line 22, ../sass/header.sass */
.logo {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}
/* line 26, ../sass/header.sass */
.logo h1 {
  width: 271px;
}
/* line 28, ../sass/header.sass */
.logo h1 a {
  display: flex;
  align-items: center;
  font: 500 21px "AFKlampenborg", Medium;
  color: #939598;
}
/* line 33, ../sass/header.sass */
.logo h1 a span {
  margin-left: -5px;
}
/* line 35, ../sass/header.sass */
.logo p {
  color: #646464;
  font: 400 15px "Helios", Regular;
  align-items: center;
  padding: 21px 29px 0 0;
}

/* line 1, ../sass/tab.sass */
.tab {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #939598;
  font: 400 16px "Arial", Regular;
}
/* line 6, ../sass/tab.sass */
.tab li {
  width: 133px;
  text-align: center;
  border-top: 1px solid #939598;
  padding: 18px 0;
  list-style-type: none;
}

/* line 12, ../sass/tab.sass */
a {
  color: #939598;
}

/* line 14, ../sass/tab.sass */
.main {
  border-left: 1px solid #939598;
  border-right: 1px solid #939598;
  margin-bottom: -1px;
  background: linear-gradient(to top, #e9edee, #fff 60%) no-repeat;
  border-top-left-radius: 30px;
}

/* line 20, ../sass/tab.sass */
.color {
  color: #45b8fb;
}

/* line 22, ../sass/tab.sass */
.company {
  margin-right: 27px;
  border-left: 1px solid #939598;
  border-right: 1px solid #939598;
  border-top-right-radius: 30px;
}
