.logon
	display: flex
	justify-content: flex-end
	margin-bottom: 17px
	div
		background-color: #fff
		border: none
		border-radius: 0 0 20px 20px
		font: 400 11px "Arial", regular
		width: 158px
		padding: 7px 21px
		text-align: center

.registration
	border-right: 1px solid #959595
	color: #747474
	padding-right: 10px
.login
	color: #02a4fa
	margin-left: 10px

.logo
	display: flex
	justify-content: space-between
	margin-top: 17px
	h1
		width: 271px
		a
			display: flex
			align-items: center
			font: 500 21px "AFKlampenborg", Medium
			color: #939598
			span
				margin-left: -5px
	p
		color: #646464
		font: 400 15px "Helios", Regular
		align-items: center
		padding: 21px 29px 0 0
